.App {
    text-align: center;
    max-width: 1400px;
    width: 80vw;
    height: 65vh;
    margin: 15vh auto 0 auto;
}

header {
    background-color: #282c34;
    color: white;
    height: 15vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    z-index: 1000;
}

header h1 {
    margin: 0;
}

header .info {
    width: 80vw;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #282c34;
    color: white;
    height: 20vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
}

footer a {
    display: inline-block;
    min-height: 48px;
    min-width: 48px;
    border-top: 3px solid transparent;
    padding-top: 15px;
}

footer a.link.active {
    border-top-color: white;
}

footer .footerIcon {
    font-size: 2.5rem;
}

footer span {
    padding-right: 30px;
    align-self: flex-end;
    margin-bottom: 20px;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
}

.link, .link:visited {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.notFound {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.current {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.circle {
    width: 45vw;
    height: 45vw;
    border: 4px solid #43AA8B;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tempWrapper {
    margin-bottom: 10px;
    font-size: 2rem;
}

.tempIcon {
    color: #6F7788;
}

.temp, .deg, .likeTemp {
    color: #43AA8B;
}

.like {
    color: #6F7788;
}

.weatherBlock {
    font-size: 1.5rem;
    color: #6F7788;
}

.weatherIcon {
    margin-top: -20px;
}

.windWrapper {
    display: flex;
    justify-content: space-around;
}

.windIcon {
    color: #109dc3;
}

.description {
    text-transform: capitalize;
    margin-top: -40px;
    margin-bottom: 10px;
}

section.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh auto;
}

.day {
    height: 45vh;
    width: 70vw;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 2px 3px 17px -6px rgba(59, 50, 59, 0.79);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dayDate {
    text-align: left;
    margin-top: 10px;
    color: #686275;
}

.dayTemp {
    color: #EC0B43;
}

.nightTemp {
    color: #0094FA;
}

.dayTempWrapper {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

@media screen and (min-width: 485px) {

    .tempWrapper {
        font-size: 4rem;
    }

    .like, .likeTemp {
        font-size: 1.8rem;
    }

    .weatherIcon {
        transform: scale(1.2);
    }

    .tempBlock {
        font-size: 1.8rem !important;
    }

    .dayTempWrapper {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-around;
    }

    header .info {
        justify-content: flex-end;
        flex-direction: column;
        width: unset;
    }

    footer .footerIcon {
        font-size: 3.5rem;
    }

    .circle {
        width: 30vw;
        height: 30vw;
    }

    .tempWrapper {
        font-size: 4rem;
    }

    .like, .likeTemp {
        font-size: 1.8rem;
    }

    .weatherIcon {
        transform: scale(1.2);
    }

    .weatherBlock {
        font-size: 2rem;
        margin-top: -2vh;
    }

    .day {
        width: 45vw;
    }

    .tempBlock {
        font-size: 1.8rem !important;
    }

    .dayTempWrapper {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1024px) {

    footer .footerIcon {
        font-size: 4.5rem;
    }

    section.current {
        flex-direction: row;
        justify-content: space-around;
    }

    .circle {
        width: 25vw;
        height: 25vw;
    }

    .tempWrapper {
        font-size: 4rem;
    }

    .like, .likeTemp {
        font-size: 1.8rem;
    }

    .weatherIcon {
        transform: scale(1.2);
    }

    .weatherBlock {
        font-size: 2rem;
        margin-top: -2vh;
    }

    section.week {
        flex-flow: row wrap;
    }

    .day {
        width: 30vw;
    }

    .tempBlock {
        font-size: 1.8rem !important;
    }

    .dayTempWrapper {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1440px) {
    .circle {
        width: 20vw;
        height: 20vw;
    }

    .day {
        width: 15vw;
    }

}